@model HomeWork.Models.Employee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>1102137237</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Order", FormMethod.Post, new { name = "myForm" }))
        {
            <table >
                <tr>
                    <td>員工編號</td>
                    <td colspan="3">@Html.TextBoxFor(Models => Models.EmployeeID)</td>
                </tr>
                <tr>
                    <td>員工姓名</td>
                    <td colspan="3">@Html.TextBoxFor(Models => Models.Name)</td>
                </tr>
                <tr>
                    <td>職稱</td>
                    <td colspan="3">@Html.TextBoxFor(Models => Models.Val)</td>
                </tr>
                <tr>
                    <td>任職日期</td>
                    <td>@Html.TextBoxFor(Models => Models.HireDate, new { @type = "date" })</td>
                    <td>~</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">
                        <input type="submit" value="查詢" />
                        <input id="Reset1" type="reset" value="清除" onclick="form1.reset()" />
                        <button>@Html.ActionLink("新增員工", "InsertOrder")</button>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div>


        @if (ViewBag.SearchResult != null)
            {
            <table >
                <tr>
                    <td>員工編號</td>
                    <td>員工姓名</td>
                    <td>職稱</td>
                    <td>任職日期</td>
                    <td>性別</td>
                    <td></td>
                </tr>
                @foreach (var item in (List<HomeWork.Models.Employee>)ViewBag.SearchResult)
                {
                    <tr id='@item.EmployeeID'>
                        <td>@item.EmployeeID</td>
                        <td>@item.Name</td>
                        <td>@item.Val</td>
                        <td>@item.HireDate</td>
                        <td>@item.Gender</td>
                        <td>
                            <a class="btnDelete" href="#">刪除</a>
                            <input class="hidOrderId" type="hidden" value='@item.EmployeeID' />
                            @Html.ActionLink("修改", "UpdateOrder", new { EmployeeID = @item.EmployeeID })
                        </td>

                    </tr>
                }

            </table>
        }

        
    </div>
    <script type="text/javascript">


    $(".btnDelete").click(function (e) {

        var tr = $(this).closest('tr')
        $.ajax({
            type: "POST",
            url: "/Order/DeleteOrder",
            data: "EmployeeID=" + $(this).next().val(),
            dataType: "json",
            success: function (response) {
                $(tr).remove();
            }
        });
        return false;
    });

    </script>

</body>
</html>
