@model HomeWork.Models.Employee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>InsertOrder</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm("InsertOrder", "Order", FormMethod.Post, new { name = "InsertOrder" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table>
                <tr>
                    <td>姓名(First Name)</td>
                    <td colspan="3">
                        @Html.TextBoxFor(Models => Models.FirstName)
                        @Html.ValidationMessageFor(Models => Models.FirstName)
                    </td>
                </tr>
                <tr>
                    <td>姓名(Last Name)</td>
                    <td colspan="3">
                        @Html.TextBoxFor(Models => Models.LastName)
                        @Html.ValidationMessageFor(Models => Models.LastName)
                    </td>
                </tr>
                <tr>
                    <td>職稱</td>
                    <td>
                        @Html.DropDownListFor(Models => Models.Val, (List<SelectListItem>)ViewData["ShipperData"])
                        @Html.ValidationMessageFor(Models => Models.Val)
                    </td>
                </tr>
                <tr>
                    <td>稱謂</td>
                    <td>
                        @Html.TextBoxFor(Models => Models.TitleOfCourtesy)
                        @Html.ValidationMessageFor(Models => Models.TitleOfCourtesy)
                    </td>
                </tr>
                <tr>
                    <td>任職日期</td>
                    <td colspan="3">
                        @Html.TextBoxFor(Models => Models.HireDate, new { @type = "date" })
                        @Html.ValidationMessageFor(Models => Models.HireDate)
                    </td>
                </tr>
                <tr>
                    <td>
                        生日
                    </td>
                    <td colspan="3">
                        @Html.TextBoxFor(Models => Models.BirthDate, new { @type = "date" })
                        @Html.ValidationMessageFor(Models => Models.BirthDate)
                    </td>
                </tr>
                <tr>
                    <td>國家</td>
                    <td colspan="3">
                        @Html.TextBoxFor(Models => Models.City)
                        @Html.ValidationMessageFor(Models => Models.City)
                    </td>
                </tr>
                <tr>
                    <td>城市</td>
                    <td>
                        @Html.TextBoxFor(Models => Models.City)
                        @Html.ValidationMessageFor(Models => Models.City)
                    </td>
                </tr>
                <tr>
                    <td>地址</td>
                    <td>
                        @Html.TextBoxFor(Models => Models.Address)
                        @Html.ValidationMessageFor(Models => Models.Address)
                    </td>
                </tr>
                <tr>
                    <td>電話</td>
                    <td>
                        @Html.TextBoxFor(Models => Models.Phone)
                        @Html.ValidationMessageFor(Models => Models.Phone)
                    </td>
                </tr>
                <tr>
                    <td>性別</td>
                    <td>
                        @Html.TextBoxFor(Models => Models.Gender)
                        @Html.ValidationMessageFor(Models => Models.Gender)
                    </td>
                </tr>
                <tr>
                    <td>直屬主管</td>
                    <td>
                        @Html.TextBoxFor(Models => Models.ManagerID)
                        @Html.ValidationMessageFor(Models => Models.ManagerID)
                    </td>
                </tr>
                <tr>
                    <td>月薪</td>
                    <td>
                        @Html.TextBoxFor(Models => Models.City)
                        @Html.ValidationMessageFor(Models => Models.City)
                    </td>
                </tr>
                <tr>
                    <td>年薪</td>
                    <td>
                        @Html.TextBoxFor(Models => Models.City)
                        @Html.ValidationMessageFor(Models => Models.City)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="存檔" />
                        <button>@Html.ActionLink("回前一頁", "Index")</button>
                    </td>
                </tr>
            </table>

            
        }
    </div>


</body>
</html>
